// ---
// example_input: >-
//   .some-class {
//     @include align-content($value: inherit);
//   }
//
// example_output: >-
//   .some-class {
//     -webkit-align-content: inherit;
//             align-content: inherit;
//   }
//
// available_values:
//   - stretch:       Default, lines stretch to take up space
//     center:        Lines are _center-packed_ within flex container
//     flex-start:    Lines are _start-packed_ within flex container
//     flex-end:      Lines are _end-packed_ within flex container
//     space-between: Even distribution of lines
//     space-around:  Even spacing on either side within flex container
//     inital
//     inherit
// ---
@mixin align-content($value) {
  @include render-vendor-prefixes(
    $property: align-content,
    $value: $value,
    $vendor-list: (
      -webkit, // Safari 9.0/7.0
    ),
    $prefix: property
  );
}
