// ---
// example_input: >-
//   .some-class {
//     @include align-items($value: inherit);
//   }
//
// example_output: >-
//   .some-class {
//     -webkit-align-items: inherit;
//             align-items: inherit;
//   }
//
// available_values:
//  auto          - Default
//  stretch       - Element is stretch to fit container
//  center        - Element is _center-positioned_ within container
//  flex-start    - Element is _start-positioned_ within container
//  flex-end      - Element is _end-positioned_ within container
//  baseline      - Element is positions at baseline within container
//  inital
//  inherit
// ---
@mixin align-items($value) {
  @include render-vendor-prefixes(
    $property: align-items,
    $value: $value,
    $vendor-list: (
      -webkit, // Safari 9.0/7.0
    ),
    $prefix: property
  );
}
