// ---
// example_input: >-
//   .some-class {
//     @include animation-iteration-count($value: 1);
//   }
//
// example_output: >-
//   .some-class {
//     -webkit-animation-iteration-count: 1;
//        -moz-animation-iteration-count: 1;
//          -o-animation-iteration-count: 1;
//             animation-iteration-count: 1;
//   }
//
// available_values:
//   - _number_
//     infinite
//     initial
//     inherit
//     unset
// ---
// $value - number | infinite | initial | inherit
@mixin animation-iteration-count($value) {
  @include render-vendor-prefixes(
    $property: animation-iteration-count,
    $value: $value,
    $vendor-list: (
      -webkit,  // Chrome 43/4.0, Opera 30.0/15, Safari 9.0/4.0
      -moz,     // Firefox 16.0/5.0
      -o,       // Opera 12.0
    ),
    $prefix: property,
  );
}
