// ---
// example_input: >-
//   .some-class {
//     @include animation($value: animation-name 5s infinite);
//   }
//
// example_output: >-
//   .some-class {
//     -webkit-animation: animation-name 5s infinite;
//        -moz-animation: animation-name 5s infinite;
//          -o-animation: animation-name 5s infinite;
//             animation: animation-name 5s infinite;
//   }
//
// available_values: See `animation-*.scss` files for $value options
// ---
@mixin animation($value) {
  @include render-vendor-prefixes(
    $property: animation,
    $value: $value,
    $vendor-list: (
      -webkit,  // Chrome 43.0/4.0, Opera 30.0/15.0, Safari 9.0/4.0
      -moz,     // Firefox 16.0/5.0
      -o,       // Opera 12.0
    ),
    $prefix: property,
  );
}
