// ---
// example_input: >-
//   .some-class {
//     @include animation-delay($value: 3s);
//   }
//
// example_output: >-
//   .some-class {
//     -webkit-animation-delay: 3s;
//        -moz-animation-delay: 3s;
//          -o-animation-delay: 3s;
//             animation-delay: 3s;
//   }
//
// available_values:
//   - _time_
//     initial
//     inherit
//     unset
// ---
@mixin animation-delay($value) {
  @include render-vendor-prefixes(
    $property: animation-delay,
    $value: $value,
    $vendor-list: (
      -webkit,  // Chrome 43.0/4.0, Opera 30.0/15.0, Safari 9.0/4.0
      -moz,     // Firefox 16.0/5.0
      -o,       // Opera 12.0
    ),
    $prefix: property,
  );
}
