// ---
// example_input: >-
//   .some-class {
//     @include column-rule-color($value: blue);
//   }
//
// example_output: >-
//   .some-class {
//     -webkit-column-rule-color: blue;
//        -moz-column-rule-color: blue;
//             column-rule-color: blue;
//   }
//
// available_values:
//   - _color_
//     initial
//     inherit
// ---
@mixin column-rule-color($value) {
  @include render-vendor-prefixes(
    $property: column-rule-color,
    $value: $value,
    $vendor-list: (
      -webkit,    // Chrome 50.0/4.0, Opera 37.0/15.0, Safari 9.0/3.1
      -moz,       // Firefox 52.0/2.0
    ),
    $prefix: property,
  );
}
