// ---
// example_input: >-
//   .some-class {
//     @include filter($value: none);
//   }
//
// example_output: >-
//   .some-class {
//     -webkit-filter: none;
//          -o-filter: none;
//             filter: none;
//   }
//
// available_values: see https://www.w3schools.com/cssref/css3_pr_filter.asp
// ---
@mixin filter($value) {
  @include render-vendor-prefixes(
    $property: filter,
    $value: $value,
    $vendor-list: (
      -webkit,    // Chrome 53.0/18.0, Opera 40.0/15.0, Safari 9.0/6.0
      -o          // Opera 15-
    ),
    $prefix: property,
  );
}
