// ---
// notice: No MS support as of 2019
// example_input: >-
//   .some-class {
//     @include mask-clip($value: content-box);
//   }
//
// example_output: >-
//   .some-class {
//     -webkit-mask-clip: content-box;
//             mask-clip: content-box;
//   }
//
// available_values: see https://developer.mozilla.org/en-US/docs/Web/CSS/mask-clip
// ---
@mixin mask-clip($value) {
  @include render-vendor-prefixes(
    $property: mask-clip,
    $value: $value,
    $vendor-list: (
      -webkit,    // Android, Chrome, Opera
    ),
    $prefix: property,
  );
}
