// ---
// example_input: >-
//   .some-class {
//     @include object-position($value: contain);
//   }
//
// example_output: >-
//   .some-class {
//     -o-object-position: contains;
//        object-position: contains;
//   }
//
// available_values: see https://developer.mozilla.org/en-US/docs/Web/CSS/object-position
// ---
@mixin object-position($value) {
  @include render-vendor-prefixes(
    $property: object-position,
    $value: $value,
    $vendor-list: (
      -o,         // Opera 12.0/11.0
    ),
    $prefix: property,
  );
}
