// ---
// notice: No MS support as of 2019
//
// example_input: >-
//   .some-class {
//     @include text-orientation($value: use-glyph-orientation);
//   }
//
// example_output: >-
//   .some-class {
//     -webkit-text-orientation: use-glyph-orientation;
//             text-orientation: use-glyph-orientation;
//   }
//
// available_values:
//   - mixed
//     upright
//     sideways-right
//     sideways
//     use-glyph-orientation
//     initial
//     inherit
//     unset
// ---
@mixin text-orientation($value) {
  @include render-vendor-prefixes(
    $property: text-orientation,
    $value: $value,
    $vendor-list: (
      -webkit,    // Android 48.0, Chrome 48.0 Opera 35.0, Safari 10.0
    ),
    $prefix: property,
  );
}
