// ---
// notice: Not standered
//
// example_input: >-
//   .some-class {
//     @include text-stroke-color($value: blue);
//   }
//
// example_output: >-
//   .some-class {
//     -webkit-text-stroke-color: blue;
//          -o-text-stroke-color: blue;
//             text-stroke-color: blue;
//   }
//
// available_values:
//     _color_
//     inital
//     inherit
//     unset
// ---
@mixin text-stroke-color($value) {
  @include render-vendor-prefixes(
    $property: text-stroke-color,
    $value: $value,
    $vendor-list: (
      -webkit,    // Chrome 4-45, Safari 7.1-, Blackberry 7 and 10
      -o,         // Opera 15-29
    ),
    $prefix: property,
  );
}
