// ---
// example_input: >-
//   .some-class {
//     @include text-size-adjust($value: 80%);
//   }
//
// example_output: >-
//   .some-class {
//     -webkit-text-size-adjust: 80%;
//        -moz-text-size-adjust: 80%;
//         -ms-text-size-adjust: 80%;
//             text-size-adjust: 80%;
//   }
//
// available_values:
//   - none
//     auto
//     _percentage_
//     initial
//     inherit
//     unset
// ---
@mixin text-size-adjust($value) {
  @include render-vendor-prefixes(
    $property: text-size-adjust,
    $value: $value,
    $vendor-list: (
      -webkit,    // Chrome 54.0, Edge 12.0, Firefox Android 44.0, Safari iOS
      -moz,       // Firefox Android 14.0
      -ms,        // Edge moble
    ),
    $prefix: property,
  );
}
