// ---
// notice: Old MS can **not** mix 2D and 3D transforms
// example_input: >-
//   .some-class {
//     @include transform($value: rotate(20deg));
//   }
//
// example_output: >-
//   .some-class {
//     -webkit-transform: rotate(20deg);
//         -ms-transform: rotate(20deg);
//             transform: rotate(20deg);
//   }
//
// available_values: see https://developer.mozilla.org/en-US/docs/Web/CSS/transform
// ---
@mixin transform($value) {
  @include render-vendor-prefixes(
    $property: transform,
    $value: $value,
    $vendor-list: (
      -webkit,
      -ms,
    ),
    $prefix: property,
  );
}
